a{
    color: #b2db2c;
}
a:hover{
    color: #b2db2c;
}
ul.bullet li{
    background: url(../../images/skins/appleGreen/sidebar-bullet.png) 0 13px no-repeat;
}
/* `elements / infoboxes / table
-------------------------------------------------- */
.theme_table tr.description td.selected,
.theme_table tr.price td.selected{
    background: #b2db2c;
}
/* `headerMeta
-------------------------------------------------- */
.meta-tweet a:hover{
    background: #b2db2c;
}
/* `header
-------------------------------------------------- */
.navi a .hover{
    background: #b2db2c;
}
.navi .current a span{
    background: #b2db2c;
}
.navi ul ul a:hover{
    background: #b2db2c;
}
/* `main
-------------------------------------------------- */
#slogan span{
    color: #b2db2c;
}
.dropcap1{
    background: #b2db2c;
}
.work .info.active h4 a,
.work .info.active h4{
    color: #b2db2c;  
}
.latest_news .date{
    background: #b2db2c; 
}
.filter_navi li a.active,
.filter_navi li a:hover{
    color: #b2db2c; 
}
.pager a{
    background: url(../../images/skins/appleGreen/elements.png) left -30px no-repeat;
}
/* `fusionHoverAlls
-------------------------------------------------- */
.home-overlay-itemBg{
    background: #b2db2c;
}
/* `bottomSlogan
-------------------------------------------------- */
#bottomSlogan h3 span{
    color: #b2db2c; 
}
/* `footer
-------------------------------------------------- */
#footer a:hover{
    background: #b2db2c;
}
/* `main+blog
-------------------------------------------------- */
.blog.post .date,
.blog .post .date{
    background: #b2db2c;
	background: -moz-linear-gradient(top,  #b2db2c 0%, #9ec227 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2db2c), color-stop(100%,#9ec227)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* IE10+ */
	background: linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2db2c', endColorstr='#9ec227',GradientType=0 ); /* IE6-9 */
    text-shadow: #5b7016 0 1px 0; 
}
.portfolio-details .tags a,
.blog.post .tags a,
.blog .post .tags a{
    background: #b2db2c url(../../images/skins/appleGreen/elements.png) left -60px no-repeat; 
}
.pagination .current{
    background: #b2db2c;  
}
/* `sitemap
-------------------------------------------------- */
.sitemap ul._sitemap li{
    background: url(../../images/skins/appleGreen/sidebar-bullet.png) 0 14px no-repeat;
}
.sitemap ul li a:hover{
    color: #b2db2c;  
}
.pager-sitemap a{
    background: url(../../images/skins/appleGreen/elements.png) left -30px no-repeat;
}
/* `portfolio
-------------------------------------------------- */
#portfolio .info.active h4 a,
#portfolio .info.active h4{
    color: #b2db2c;  
}
/* `widgets
-------------------------------------------------- */
/* `post widget */
.post-widget .post a.date,
#footer .post-widget .post a.date{
    background: #b2db2c;  
}
/* `post widget END*/

/* `categories widget */
#footer .catogories-widget a:hover{
    color: #b2db2c;
}
/* `categories widget END*/

/* `post widget 2 */
.tooltipTx{
    background: #b2db2c; 
}
/* `post widget 2 END*/

/* `page widget*/
.pages-widget ul li{
    background: url(../../images/skins/appleGreen/sidebar-bullet.png) 0 17px no-repeat;
}
#footer .pages-widget a:hover{
    color: #b2db2c;
}
/* `page widget END*/

/* `archive widget */
#footer .archive-widget a:hover{
    color: #b2db2c;
}
/* `archive widget END*/

/* `carousel widget*/
#footer .carousel-widget .pager a{
    background: url(../../images/skins/appleGreen/elements.png) -50px -30px no-repeat; 
}
/* `carousel widget END*/

/* `post tabs widget */
#footer .news-wrap .post a.date,
.news-wrap .post a.date{
    background: #b2db2c;  
}
.post-tabs-widget .tags a{
    background: #b2db2c url(../../images/skins/appleGreen/elements.png) left -96px no-repeat; 
}
#footer .post-tabs-widget .tags a{
    background: #b2db2c url(../../images/skins/appleGreen/elements.png) left -132px no-repeat; 
}
/* `post tabs widget END*/

/* `buttons
-------------------------------------------------- */
.theme_table .selected .medium_button,
.theme_table .selected .small_button,
.theme_table .selected .large_button,
.medium_button,
.small_button,
.large_button{
    border: 1px solid #9ec227;
	background: #b2db2c;
	background: -moz-linear-gradient(top,  #b2db2c 0%, #9ec227 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2db2c), color-stop(100%,#9ec227)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* IE10+ */
	background: linear-gradient(top,  #b2db2c 0%,#9ec227 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2db2c', endColorstr='#9ec227',GradientType=0 ); /* IE6-9 */
    text-shadow: #5b7016 0 1px 0; 
}
.theme_table .selected .medium_button:hover,
.theme_table .selected .small_button:hover,
.theme_table .selected .large_button:hover,
.medium_button:hover,
.small_button:hover,
.large_button:hover {
	background: #bfeb2f;
	background: -moz-linear-gradient(top,  #bfeb2f 0%, #a6cc29 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfeb2f), color-stop(100%,#903dcc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%); /* IE10+ */
	background: linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfeb2f', endColorstr='#903dcc',GradientType=0 ); /* IE6-9 */
}
.large_button.info span.icon{
	background: url('../../images/skins/appleGreen/bn-icons/info.png') no-repeat top left;
}
.large_button.alert span.icon{
	background: url('../../images/skins/appleGreen/bn-icons/alert.png') no-repeat top left;
}
.large_button.android span.icon{
	background: url('../../images/skins/appleGreen/bn-icons/android.png') no-repeat top left;
}
.large_button.download span.icon{
	background: url('../../images/skins/appleGreen/bn-icons/download.png') no-repeat top left;
}
.large_button.iphone span.icon{
	background: url('../../images/skins/appleGreen/bn-icons/iphone.png') no-repeat top left;
}
/* #Buttons
================================================== */

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: 1px solid #9ec227 !important;
	background: #b2db2c !important;
	background: -moz-linear-gradient(top,  #b2db2c 0%, #9ec227 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2db2c), color-stop(100%,#9ec227)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2db2c 0%,#9ec227 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2db2c 0%,#9ec227 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2db2c 0%,#9ec227 100%) !important; /* IE10+ */
	background: linear-gradient(top,  #b2db2c 0%,#9ec227 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2db2c', endColorstr='#9ec227',GradientType=0 ) !important; /* IE6-9 */
    text-shadow: #5b7016 0 1px 0;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    border: 1px solid #9ec227 !important;
	background: #bfeb2f !important;
	background: -moz-linear-gradient(top,  #bfeb2f 0%, #a6cc29 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfeb2f), color-stop(100%,#903dcc)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%) !important; /* IE10+ */
	background: linear-gradient(top,  #bfeb2f 0%,#a6cc29 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfeb2f', endColorstr='#903dcc',GradientType=0 ) !important; /* IE6-9 */
}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        .pager a{
            background: url(../../images/skins/appleGreen/elements.png) left top no-repeat;
        }  
	}



/* LayerSlider
================================================== */    
.ls-fusionskin .ls-nav-start,
.ls-fusionskin .ls-nav-stop{
    background: url(../../images/skins/appleGreen/elements.png) no-repeat;
}    
.ls-fusionskin .ls-bottom-slidebuttons a {
    background: url(../../images/skins/appleGreen/elements.png) no-repeat;
}

/* UnoSlider
================================================== */  
.unoslider_indicator a {
    background: url(../../images/skins/appleGreen/elements.png) no-repeat;
}