{% load url from future %}
{% load compress %}
{% load agiliq_filters %}
{% get_extra_context %}
<!DOCTYPE html>
<html>
<head>
<title>
	{% block title %}Agiliq - Building Amazing Apps{% endblock %}
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}agiliqpages/css/skin.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}agiliqpages/css/home.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}agiliqpages/css/styles.css" type="text/css" />

	<!--jCarousel core stylesheet-->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}agiliqpages/css/jquery.jcarousel.css" />
	<!--jCarousel skin stylesheet-->

{% endcompress %}

{% block extracss %}

{% endblock %}

{% if extra_header %}
{{ extra_header|safe }}
{% endif %}

</head>


<body class="{% block body_ns %}home{% endblock %}">
{{ after_open_body_tag|safe }}

<!--MAIN CONTAINER STARTS HERE-->
<div id="maincontainer">
  <!--HEADER STARTS HERE-->
  <div id="header">
    <div id="logo"><a href="/"><img src="{{ STATIC_URL }}agiliqpages/images/agiliq_logo.png" alt="Agiliq - Building Amazing Apps - Django Web Development" width="264" border="0"></a></div>
    {% include "agiliqpages/menu_frag.html" %}
  </div>
  <!--HEADER ENDS HERE-->
  <!--BANNER STARTS HERE-->
  <div id="banner">
  	{% block banner %}
    <div id="title">
      <ul id="banners" class="jcarousel-skin-banner" style="visibility: hidden">
        <li>
          <h1>Agile <span class="black">web development </span><br/>
            using <span class="black">Django</span></h1>
        </li>
        <li>
          <h1>Mobile <span class="black">application</span> development with <span class="black">HTML5</span> and <span class="black">Native</span> technologies.</h1>
        </li>
        <li>
          <h1>Building Amazing <span class="black">Apps</span> for <span class="black">Web</span>, <span class="black">Android</span> and <span class="black">iOS</span></h1>.
        </li>
      </ul>
        </div>
    <div id="homegraphic"></div>
	{% endblock %}
  </div>
  <!--BANNER ENDS HERE-->


  <!--BODY CONTENT STARTS HERE-->
  <div id="bodycontent">
    <!--LEFT PANEL STARTS HERE-->
    <div id="leftpanel">
        {% block content %}
        {% endblock content %}
		{% block testimonials %}
			{% include "agiliqpages/testimonials.html" %}
		{% endblock %}
    </div>
    <!--LEFT PANEL ENDS HERE-->

    {% block right_panel %}
    <!--RIGHT PANEL STARTS HERE-->
    <div id="rightpanel">
      <!--HIRE BLOCK STARTS HERE-->
      <div id="hireblock">
        <div><span class="yellowtitle">Get Started</span><img src="{{ STATIC_URL }}agiliqpages/images/hireus_icon.png" alt="Hire us"></div>
        <p>{{ hire_us|safe }}</p>
        <div class="hiresus_but"><a href="{% url 'agiliqpages_contactus' %}#contact_form"><img src="{{ STATIC_URL }}agiliqpages/images/hireus_but.png" alt="Hire Us" width="111" height="34" border="0"></a></div>
        <div class="clear"></div>
      </div>
      <!--HIRE BLOCK ENDS HERE-->

      {% if our_code %}
      <!--CODE BLOCK STARTS HERE-->
      <div id="codeblock">
        <div><span class="redtitle">Our Code</span><img src="{{ STATIC_URL }}agiliqpages/images/terminal.png" alt="Our Code"></div>
        <p>{{ our_code|safe }}</p>
        <div class="clear"></div>
      </div>
      <!--CODE BLOCK ENDS HERE-->
      {% endif %}


      {% if blog_entry %}
      <!--AGILIQ BLOG BLOCK STARTS HERE-->
      <div id="blogblock">

        <div><span class="greentitle">From our Blog</span><img src="{{ STATIC_URL }}agiliqpages/images/blog_icon.png" alt="Agiliq Blog" width="40" height="43"></div>

        <strong><a href="{{ blog_entry.get_absolute_url }}" class="blogpostlink">{{ blog_entry.title }}</a></strong>

        <p>{{ blog_entry.text|truncatewords_html:30|striptags|safe }} <br/>
          <a href="{{ blog_entry.get_absolute_url }}" target="_blank" class="blogpostlink">Read More &raquo; </a> <br/>
          <span class="postdate">{{ blog_entry.created_on|date:'jS N, Y' }}</span></p>
        <ul id="blogentry">
          {% for post in posts %}
          <li>
            <a href="{{ post.get_absolute_url }}" class="blogpostlink">{{ post.title }} &raquo;</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!--AGILIQ BLOG BLOCK ENDS HERE-->
      {% endif %}


      <div class="clear"></div>
    </div>
    <!--RIGHT PANEL ENDS HERE-->
    {% endblock right_panel %}
  </div>
  {% block extra_content %}
  {% endblock extra_content %}

  <!--BODY CONTENT ENDS HERE-->
</div>
<!--MAIN CONTAINER ENDS HERE-->
<div class="clear"></div>
{% include "agiliqpages/footer_frag.html" %}
{{ after_close_body_tag|safe }}
{% compress js %}
<!-- jQuery library-->
<script type="text/javascript" src="{{ STATIC_URL }}agiliqpages/js/jquery-1.8.3.min.js"></script>
<!-- jCarousel library -->
<script type="text/javascript" src="{{ STATIC_URL }}agiliqpages/js/jquery.jcarousel.pack.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        scroll: 1
    });
    jQuery("#banners")
        .jcarousel({
            scroll: 1,
            auto: 3
        })
        .css('visibility', 'visible');
});
</script>

{% endcompress %}

</body>
</html>
