{% load compress %}
{% load agiliq_filters %}

{% get_extra_context %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>
	{% block title %}
		Agiliq - Building Amazing Webapps - Django Web Development
	{% endblock %}
	
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% compress css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/skin.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css" type="text/css" />

	<!--jCarousel core stylesheet-->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.jcarousel.css" />
	<!--jCarousel skin stylesheet-->
	
{% endcompress %}

{% block extracss %}
	
{% endblock %}

{% if extra_header %}
{{ extra_header|safe }}
{% endif %}

</head>


<body class="{% block body_ns %}home{% endblock %}">
{{ after_open_body_tag|safe }}

<!--MAIN CONTAINER STARTS HERE-->
<div id="maincontainer">
  <!--HEADER STARTS HERE-->
  <div id="header">
    <div id="logo"><a href="/"><img src="{{ MEDIA_URL }}images/agiliq_logo.png" alt="Agiliq - Building Amazing Webapps - Django Web Development" width="264" border="0"></a></div>
    {% include "agiliqpages/menu_frag.html" %}
  </div>
  <!--HEADER ENDS HERE-->
  <!--BANNER STARTS HERE-->
  <div id="banner">
  	{% block banner %}
    <div id="title">
      <h1>Agile <span class="black">web development </span><br/>
        using <span class="black">Django</span> framework</h1>
    </div>
    <div id="homegraphic"></div>
	{% endblock %}
  </div>
  <!--BANNER ENDS HERE-->
 
 
  <!--BODY CONTENT STARTS HERE-->
  <div id="bodycontent">
    <!--LEFT PANEL STARTS HERE-->
    <div id="leftpanel">
    	{% block content %}
	      <div id="pagecontent">
			<span class="hometitle">about us</span>
	        <p>Agiliq Solutions is a web development studio based in Hyderabad, India.</p>
		<p>
		At Agiliq, we develop bespoke web applications using the Django web framework, the related Python technology stack and the Jquery javascript library.
		We primarily work with web development companies as technology partners.
		</p>
	        <p>We build amazing webapps. We have done it in the past. We are doing it right now, and we can do it for <i>you</i>.
		</p>
		<p>
		The era of waterfall models and limited capability frameworks is long over.
		The limited interactivity afforded by Wordpress or any other "off the shelf" CMS will no longer suffice. Using the best tools available today, we build bespoke applications which fit your business needs exactly.
		</p>		
	      </div>
	    {% endblock %}

		{% block testimonials %}
			{% include "agiliqpages/testimonials.html" %}
		{% endblock %}
    </div>
    <!--LEFT PANEL ENDS HERE-->
    
    {% block right_panel %}
    <!--RIGHT PANEL STARTS HERE-->
    <div id="rightpanel">
      {% if hire_us %}
      <!--HIRE BLOCK STARTS HERE-->
      <div id="hireblock">
        <div><span class="yellowtitle">hire us </span><img src="{{ MEDIA_URL }}images/hireus_icon.png" alt="Hire us"></div>
        <p>{{ hire_us|safe }}</p>
        <div class="hiresus_but"><a href="{% url agiliqpages_contactus %}"><img src="{{ MEDIA_URL }}images/hireus_but.png" alt="Hire Us" width="111" height="34" border="0"></a></div>
        <div class="clear"></div>
      </div>
      <!--HIRE BLOCK ENDS HERE-->
      {% endif %}
      
      {% if our_code %}
      <!--CODE BLOCK STARTS HERE-->
      <div id="codeblock">
        <div><span class="redtitle">our code</span><img src="{{ MEDIA_URL }}images/terminal.png" alt="Our Code"></div>
        <p>{{ our_code|safe }}</p>
        <div class="clear"></div>
      </div>
      <!--CODE BLOCK ENDS HERE-->
      {% endif %}
            
      
      {% if blog_entry %}      
      <!--AGILIQ BLOG BLOCK STARTS HERE-->
      <div id="blogblock">
        <div><span class="greentitle">agiliq blog</span><img src="{{ MEDIA_URL }}images/blog_icon.png" alt="Agiliq Blog" width="40" height="43"></div>
        <p>{{ blog_entry.text|truncatewords_html:20|safe }} <br/>
          <a href="{{ blog_entry.get_absolute_url }}" target="_blank" class="blogpostlink">More information &raquo; </a> <br/>
          <span class="postdate">{{ blog_entry.created_on|date:'jS N, Y' }}</span></p>
      </div>
      <!--AGILIQ BLOG BLOCK ENDS HERE-->
      {% endif %}
      
      <!--TWITTER FEED BLOCK STARTS HERE-->
      {% if tweet %}
      <div id="twitterblock">
        <div>
          <span class="bluetitle">Twitter Feed</span>
          <img src="{{ MEDIA_URL }}images/tweet_icon.png" alt="Twitter Feed" width="40" height="26">
        </div>
        <p>
          {{ tweet.text|twitterify|safe }}<br/> 
          <a href="http://twitter.com/{{ tweet.screen_name }}" target="_blank" class="tweetslink">Follow us</a> <br/>
          <!-- <span class="tweetdate"> 2 days ago</span>  -->
        </p>
      </div>
      {% endif %}
      <!--TWITTER FEED BLOCK ENDS HERE-->
      <div class="clear"></div>
    </div>
    <!--RIGHT PANEL ENDS HERE-->
    {% endblock right_panel %}
  </div>
  <!--BODY CONTENT ENDS HERE-->
</div>
<!--MAIN CONTAINER ENDS HERE-->
<div class="clear"></div>
{% include "agiliqpages/footer_frag.html" %}
{{ after_close_body_tag|safe }}
</body>

{% compress js %}
<!-- jQuery library-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
<!-- jCarousel library -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jcarousel.pack.js"></script>
<!-- jCarousel library -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        scroll: 1
	 });
});

{% endcompress %}

</script>


</html>
			
