{% extends "agiliqpages/base.html" %}

{% block extracss %}
	<link href="{{ MEDIA_URL }}css/contact.css" rel="stylesheet" type="text/css" charset="utf-8">
{% endblock %}

{% block banner %}
    <div id="title">
      <h1><span class="black">We Love to hear </span><br/>
        mail us at <br/></h1><a href="mailto:hello@agiliq.com" class="mailink">hello@agiliq.com</a>
    </div>
    <div id="contactgraphic"></div>
{% endblock %}

{% block body_ns %}contactbg{% endblock %}


{% block content %}
      <div id="pagecontent"><span class="purpletitle">get in touch</span>
        <div>
          <div class="address"><br/>
            <span class="purpletext">Email :</span> <a href="mailto:hello@agiliqsolutions.com" class="blacklink">hello@agiliqsolutions.com</a><br/>
            <br/>
            <span class="purpletext">Speak to us :</span><br/>
            India: +91- 99499 97612<br/>
            <br/>
            <span class="purpletext">Address :</span><br/>
            Agiliq Solutions, <br/>
            # 1-46, Kumhar Basti, Madhapur, <br/>
            Hyderabad 500081.India </div>
          <div class="map"><img src="http://maps.google.com/maps/api/staticmap?center=Kumhar+Basti,Madhapur,Hyderabad&zoom=12&size=300x188&sensor=false" width="300" height="188" alt="Map"></div>
        </div>
        <div class="clear"></div>
        <fieldset>
          <legend class="purpletitle">Say Hello !</legend>
          Your Name :<br/>
          <input type="text" name="textfield" id="textfield" class="formstyle">
          <br/>
          Phone (optional) :<br/>
          <input type="text" name="textfield" id="textfield" class="formstyle">
          <br/>
          Email :<br/>
          <input type="text" name="textfield" id="textfield" class="formstyle">
          <br/>
          Company (optional) :<br/>
          <input type="text" name="textfield" id="textfield" class="formstyle">
          <br/>
          Message :<br/>
          <textarea name="textarea" cols="45" rows="5" class="formstyletextarea" id="textarea"></textarea>
          <br/>
          <input name="button" type="submit" class="submitbutton" id="button" value="Submit">
        </fieldset>
      </div>
      <div id="testimonials"><span class="purpletitle">testimonials</span>
	  	{% include "agiliqpages/testimonials.html" %}
      </div>

{% endblock %}
