{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | Contact us. We would love to hear from you.
{% endblock %}




{% block content %}
<div id="pagecontent"><span class="purpletitle">Get in Touch</span>
	<p>
		Ready to build your app? Contact us today.
	</p>
	<a name="contact_form"></a>
	<form method='post'>
	{% csrf_token %}
	<fieldset>
		<legend class="purpletitle">Say Hello !</legend>
		Your Name : <br/>
		{{ form.name }}
		{{ form.name.errors }}
		<br/>
		Phone (optional) :<br/>
		{{ form.phone }}
		{{ form.phone.errors }}
		<br/>
		Email :<br/>
		{{ form.email }}
		{{ form.email.errors }}
		<br/>
		Company (optional) :<br/>
		{{ form.company }}
		{{ form.company.errors }}
		<br/>
		Message :<br/>
		{{ form.message }}
		{{ form.message.errors }}
		<br/>
		<input name="button" type="submit" class="submitbutton" id="button" value="Get started">
	</fieldset>
	</form>

	<div class="clear"></div>
	<div>
		<div class="address"><br/>
			<p><span class="purpletext">Email :</span> <a href="mailto:hello@agiliq.com" class="blacklink">hello@agiliq.com</a><br/>
			<br/>
			<span class="purpletext">Speak to us :</span><br/>
			India: +91- 99499 97612<br/>
			<br/>
			<span class="purpletext">Address :</span><br/>
            Agiliq Info Solutions India Pvt Ltd,<br/>
            # 302, Siri Sampada,<br/>
            Kavuri Hills, Near Madhapur Police Station<br/>
            Hyderabad - 500033.
            India
        	</p>
		</div>
		<div class="map" id="map"><img src="http://maps.google.com/maps/api/staticmap?zoom=12&size=300x188&maptype=roadmap&markers=color:purple|label:A|17.438895,78.398319&sensor=false" width="300" height="188" alt="Map"></div>
	</div>
</div>
<div class="clear"></div>
{% endblock %}
