<div id="footer">
    <div class="footer_links">
    <div class="footerelement">

        <h4>Contact</h4>
        <ul>
            <li><span></span>
                Email: <a href="mailto:hello@agiliq.com">hello@agiliq.com</a>
            </li>
            <li>US: <a href="tel:+13152854388">+13152854388</a></li>
            <li>IN: <a href="tel:+919949997612">+919949997612</a></li>
            <li>Skype: <a href="skype:shabda.raaj">shabda.raaj</a></li>

        </ul>
    </div>

    <div class="footerelement">
    <h4>Agiliq</h4>
    <ul>
        <li>
            <a href="{% url agiliqpages_index %}">Home</a>
        </li>
        <li>
            <a href="{% url agiliqpages_ourwork %}">Our Work</a>
        </li>
        <li>
            <a href="{% url agiliqpages_contactus %}">Contact Us</a>
        </li>
        <li>
            <a href="{% url agiliqcom_search %}">Search</a>
        </li>
        <li>
            <a href="http://github.com/agiliq">Github</a>
        </li>

    </ul>
    </div>

    <div class="footerelement">
    <h4>Read</h4>
    <ul>
        <li>
            <a href="{% url blogango_index %}">Blog</a>
        </li>
        <li>
            <a href="/forum/">Forum</a>
        </li>
        <li>
            <a href="/newsletter/">Newsletter</a>
        </li>
        <li>
            <a href="/books/djangodesignpatterns/">Django Design Patterns</a>
        </li>
        <li>
            <a href="/books/djenofdjango/">Djen of Django</a>
        </li>

    </ul>
    </div>

    <div class="footerelement">
    <h4>Services</h4>
    <ul>
        <li>
            <a href="/django-application-development/">Django development</a>
        </li>
        <li>
            <a href="/python-application-development/">Python Development</a>
        </li
        <li>
        <a href="/android-application-development/">Android development </a>
        </li>
        <li>
            <a href="/iphone-application-development/">iOS Application Development</a>
        </li>


    </ul>
    </div>



    <p id="copyright">
    &copy; Agiliq 2009 - {{ today.year }}
    </p>
    </div>
</div>

{% if extra_footer %}
{{ extra_footer|safe }}
{% endif %}
