<div id="footer">
	<a href="{% url agiliqpages_index %}">home</a> 
	<a href="{% url agiliqpages_whoweare %}">who we are</a> 
	<a href="{% url agiliqpages_whatwedo %}">what we do</a> 
	<a href="{% url agiliqpages_ourwork %}">our work</a> 
	<a href="{% url agiliqpages_contactus %}">contact us</a> 
	<a href="{% url blogango_index %}" target="_blank">blog</a>
	<a href="{% url agiliqpages_jobs %}">jobs</a><br/>
    Copyright  agiliq solutions  |  all rights reserved
</div>

{% if extra_footer %}
{{ extra_footer|safe }}
{% endif %}
