<div id="footer">
	<a href="{% url agiliqcom_search %}">Search</a>
	<a href="{% url agiliqpages_index %}">home</a>
	<a href="{% url agiliqpages_whoweare %}">who we are</a>
	<a href="{% url agiliqpages_whatwedo %}">what we do</a>
	<a href="{% url agiliqpages_ourwork %}">our work</a>
	<a href="{% url agiliqpages_contactus %}">contact us</a>
	<a href="{% url blogango_index %}" target="_blank">blog</a>
	<a href="/jobs/">jobs</a><br/>
    &copy; Agiliq 2009 - {{ today.year }}
</div>

{% if extra_footer %}
{{ extra_footer|safe }}
{% endif %}
