{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | Agile web development with Django.
{% endblock %}

{% block extracss %}
	<link href="{{ MEDIA_URL }}css/home.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
          <div id="pagecontent">
            <span class="hometitle">about us</span>
            <p>Agiliq is a web development studio based in Hyderabad, India.</p>
        <p>
        We develop bespoke web applications using Django, the related Python technology stack and the Jquery javascript library.
        We primarily work with web development companies as technology partners.
        </p>
            <p>We build amazing webapps. We have done it in the past. We are doing it right now, and we can do it for <i>you</i>.
        </p>
        <p>
        The era of waterfall models and limited capability frameworks is long over.
        The limited interactivity afforded by Wordpress or any other "off the shelf" CMS will no longer suffice. Using the best tools available today, we build bespoke applications which fit your business needs exactly.
        </p>
          </div>
{% endblock content %}

