{% extends "agiliqpages/agiliq_base.html" %}

{% block  title %}
	{{ block.super }} | Agile web development with Django.
{% endblock %}

{% block navigation %}
		<li class="current"><a href="/" class="sf-with-ul"><em class="hover" style="width: 67px; display: none; "></em><span>Home</span></a>
		</li>
		<li><a href="/ourwork" class="sf-with-ul"><em class="hover" style="width: 99px; display: none; "></em><span>Our Work</span></a>
		</li>
		<li><a href="/whoweare" class="sf-with-ul"><em class="hover" style="width: 99px; display: none; "></em><span>Who We Are</span></a>
		</li>
		<li><a href="/blog/"><em class="hover" style="width: 60px; display: none; "></em><span>Blog</span></a></li>
		<li><a href="/contactus"><em class="hover" style="width: 97px; display: none; "></em><span>Contact Us</span></a></li>
{% endblock navigation%}

{% block extracss %}
<!--	<link href="{{ MEDIA_URL }}css/home.css" rel="stylesheet" type="text/css" />-->
{% endblock %}

{% block content %} {% endblock %}
