	<div id="menu">
      <ul id="nav-example">
        <li  id="nav-example-01"> <a href="{% url agiliqpages_index %}" class="home"><span>Home</span></a> </li>
        <li id="nav-example-02"> <a href="{% url agiliqpages_whoweare %}"><span>Who we are</span></a> </li>
        <li id="nav-example-03"> <a href="{% url agiliqpages_whatwedo %}"><span>What we do</span></a> </li>
        <li id="nav-example-04"> <a href="{% url agiliqpages_ourwork %}"><span>Our work</span></a> </li>
        <li id="nav-example-05"> <a href="{% url agiliqpages_contactus %}"><span>Contact us</span></a> </li>
        <li id="nav-example-06" ><a href="http://uswaretech.com/blog/" target="_blank"><span>Blog</span></a></li>
      </ul>
    </div>