
{% extends "agiliqpages/agiliq_base.html" %}

{% block  title %}
	{{ block.super }} | Our work. We love technology, and you would love what we can build with it.
{% endblock %}

{% block navigation %}
		<li><a href="/" class="sf-with-ul"><em class="hover" style="width: 67px; display: none; "></em><span>Home</span></a>
		</li>
		<li class="current"><a href="/ourwork" class="sf-with-ul"><em class="hover" style="width: 99px; display: none; "></em><span>Our Work</span></a>
		</li>
		<li><a href="/whoweare" class="sf-with-ul"><em class="hover" style="width: 99px; display: none; "></em><span>Who We Are</span></a>
		</li>
		<li><a href="/blog/"><em class="hover" style="width: 60px; display: none; "></em><span>Blog</span></a></li>
		<li><a href="/contactus"><em class="hover" style="width: 97px; display: none; "></em><span>Contact Us</span></a></li>
{% endblock navigation%}

{% block content %}

                <div class="container work">
            		<div class="four columns">
                        <div class=" rt-border">
                            <h2>Our Products</h2>
                            <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu orci mattis purus cursus rhoncus.</i>
                            <a class="small_button" href="#">view more</a></p>
                            <div class="clear"></div>               		      
                        </div>
                    </div>

            		<div class="twelve columns alpha omega">
                        <div class="navi_carousel">
                            <ul class="filter_navi">
            					<li><a href="javascript:void(0)" rel="all">All Categories</a></li>
            					<li><a href="javascript:void(0)" rel="webdesign">Webdesign</a></li>
            					<li><a href="javascript:void(0)" rel="wordpress">Wordpress</a></li>
            				</ul>
                            <div class="pager"></div>
                            <div class="clear"></div>
                        </div> 
                        <!-- product starts here -->
             			<div class="list_carousel">
            				<ul class="list_items">

            				    <li class="four columns item all webdesign wordpress">

                                <img src="{{ MEDIA_URL }}images/jobboardshq.gif" width="190" height="100" alt="{{ prod.name }}">
                                    <div class="info">
                                        <a href="{{ prod.url }}" target="_blank" class="website"><h4>jobboardshq</h4></a>
                                    <p class="profilecontent">
                    Job Board Software lets you launch an easy-to-use advanced 
                    Job Board, while providing the key features to generate revenue 
                    and be successful in the competitive job board market. 
                    JobBoardsHQ is scalable and fully customizable solution to meet your unique Job Board requirements.
                </p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
            			    {% for prod in products %}
                                <li class="four columns item all webdesign wordpress">
                                    {% if prod.logo %}
                                        <img src="{{ prod.logo.url }}" width="190" height="100" alt="{{ prod.name }}">
                                    {% endif %}
                                    <div class="info">
                                        <a href="{{ prod.url }}" target="_blank" class="website"><h4>{{ prod.name }}</h4></a>
                                        <p>{{ prod.blurb }}</p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            {% endfor %}
            				</ul>
            			</div>
                        <div class="clear"></div>
                    </div>
            	</div><!-- container -->
                <div class="container work">
            		<div class="four columns">
                        <div class=" rt-border">
                            <h2>Our Clients</h2>
                            <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu orci mattis purus cursus rhoncus.</i>
                            <a class="small_button" href="#">view more</a></p>
                            <div class="clear"></div>               		      
                        </div>
                    </div>
            		<div class="twelve columns alpha omega">
                        <div class="navi_carousel">
                            <ul class="filter_navi">
            					<li><a href="javascript:void(0)" rel="all">All Categories</a></li>
            					<li><a href="javascript:void(0)" rel="webdesign">Webdesign</a></li>
            					<li><a href="javascript:void(0)" rel="wordpress">Wordpress</a></li>
            				</ul>
                            <div class="pager"></div>
                            <div class="clear"></div>
                        </div> 
                        <!-- product starts here -->
             			<div class="list_carousel">
            				<ul class="list_items">
                            {% for client in clients %}
                                <li class="four columns item all webdesign wordpress">
                                   				{% if client.logo %}
					<img src="{{ client.logo.url }}" width="190" height="100" alt="{{ client.name }}">
				{% endif %}
                                    <div class="info">
                                        <a href="{{ client.url }}" target="_blank" class="website"><h4>{{ client.name }}</h4></a>
                                        <p>{{ client.about }}</p>
                                    </div>
                                    <div class="clear"></div>
                                    
                                    {% for contact in client.contact_set.all %}
                                    {% for testimonial in contact.testimonial_set.all %}
                                    <div>
                                        <p class='blockquote'>{{ testimonial.testimonial }}<span class='reversequote'></span> - <span class="clientname">{{ contact.name }}</span></p>    
                                    </div>
                                    {% endfor %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
            				</ul>
            			</div>
                        <div class="clear"></div>
                    </div>
            	</div><!-- container -->
{% endblock %}


