{% if testimonials %}
<div id="testimonials">
	<span class="hometitle">testimonials</span>
	<ul id="mycarousel" class="jcarousel-skin-tango">
	{% for testimonial in testimonials %}
	<li>
		<div class="blockquote">
			<p>{{ testimonial.testimonial }}<span class='reversequote'></span></p>
			<p class="right">
				<span class="clientname">{{ testimonial.contact_name }}</span> - 
				<span class="companyname">{{ testimonial.name }}</span>
			</p>
		</div>
	</li>
	{% endfor %}	
	</ul>
</div>
{% endif %}