{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | Web development using Django, Jquery, Javascript, Mysql, Postgresql and a bit of love sprinkled over it all.
{% endblock %}

{% block extracss %}
	<link href="{{ MEDIA_URL }}css/whatwedo.css" rel="stylesheet" type="text/css" charset="utf-8">
{% endblock %}

{% block body_ns %}whatwedo{% endblock %}

{% block banner %}
	 <div id="title">
      <h1>We work on<br/>
        <span class="black"> Python, Django, jQuery,<br/>
        MySql and PostgreSQL </span> </h1>
    </div>
	<div id="whatwedographic"></div>
{% endblock %}

{% block content %}

      <div id="pagecontent"><span class="browntitle">what we do</span>
	
        <p>
	  We work with some of the most cutting edge technologies, open web has to offer. Building on best of breed
	  open technologies allows us to be fast, secure, scalable. 
	</p>
	
	<span class="smallbrowntitle">python</span>
	<p>Python is an easy to use but mature language with strong community and open source roots.
	It is used by some of the the largest corporations like Google and Nasa, and is yet liked by hobbyists.</p>
        <span class="smallbrowntitle">django</span>
        <p>Django bills itself as "the Web framework for perfectionists with deadlines." It has emerged as the most widely used Python based framework. Google used parts of Django for the App Engine.</p>
	<span class="smallbrowntitle">Mysql and Postgresql</span>
        <p>
	  Mysql and postgresql are the two best open source database available. They have proved their ability at some of the largest
	  websites, power Yahoo, Facebook and the like.
	</p>
        <span class="smallbrowntitle">jquery</span>
        <p>Jquery is a Javascript library designed to make DOM traversal, event handling and Ajax interaction easy. With Jquery unobtrusive Javascript is amazingly simple.</p>
        <span class="smallbrowntitle">user interface design</span>
        <p>The best technology is meaningless if it does not help the user interact with the website in an easy and consistent manner. 
	</p>
        <span class="smallbrowntitle">xhtml & css</span>
        <p>High quality, cross-browser compatible valid XHTML/ CSS markup is what the best sites are built on and allow applications
	to reach the largest market available &mdash; every person's browser.</p>
        
      </div>



{% endblock %}

