{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | Web development using Django, Jquery, Javascript, Mysql, Postgresql and a bit of love sprinkled over it all.
{% endblock %}

{% block content %}

      <div id="pagecontent"><span class="browntitle">what we do</span>

    <p>
	  We work with some of the most cutting edge technologies open web has to offer. Building on best of breed open technologies allows us to build amazing apps
      which are fast, secure and scalable.
	</p>

	<span class="smallbrowntitle">Python and Django</span>
	<p><a href="http://agiliq.com/blog/tag/python/">Python</a> is an easy to use but mature language with strong community and open source roots.
	It is used by some of the the largest corporations like Google and Nasa, and is yet liked by starups.</p>
    <p><a href="http://agiliq.com/blog/tag/django/">Django</a> is "the Web framework for perfectionists with deadlines." It is the most widely used Python based web framework.
    </p>
    <p>We have been working with Django since 2009. We use it everyday and we contribute to the <a href="http://github.com/agiliq" rel="">Django ecosystem</a>. We are convinced that Python and Django are the best tools for building web apps for our clients.
    </p>

	<span class="smallbrowntitle">Postgres and MySql</span>
        <p>
	       Postgres is a mature open source database. It is highly standard compliant, supports advanced database features and available for all platforms.
	   </p>
       <p>
            MySql is one of most popular databases and powers some of the largest sites. It is backed by Oracle.
        </p>
        <p>We use either Postgres or Mysql depending on the requirements. We also use non-relational no-sql solutions such as Redis or MongoDB, depending on the requirements.
        </p>
        <span class="smallbrowntitle">Phonegap, Java and Objective-C</span>
        <p>
        </p>
        <span class="smallbrowntitle">jquery</span>
        <p>Jquery is a Javascript library designed to make DOM traversal, event handling and Ajax interaction easy. With Jquery unobtrusive Javascript is amazingly simple.</p>
        <span class="smallbrowntitle">user interface design</span>
        <p>The best technology is meaningless if it does not help the user interact with the website in an easy and consistent manner.
	</p>

</div>



{% endblock %}

