{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | We build amazing apps for web and mobile using Python, Django and other modern tools.
{% endblock %}

{% block content %}

      <div id="pagecontent"><span class="browntitle">what we do</span>

    <p>
	  We work with some of the most cutting edge technologies open web has to offer. Building on best of breed open technologies allows us to build amazing apps
      which are fast, secure and scalable.
	</p>

	<span class="smallbrowntitle">Python and Django</span>
	<p><a href="http://agiliq.com/blog/tag/python/">Python</a> is an easy to use but mature language with strong community and open source roots.
	It is used by some of the the largest corporations like Google and Nasa, and is yet liked by starups.</p>
    <p><a href="http://agiliq.com/blog/tag/django/">Django</a> is "the Web framework for perfectionists with deadlines." It is the most widely used Python based web framework.
    </p>
    <p>We have been working with Django since 2009. We use it everyday and we contribute to the <a href="http://github.com/agiliq" rel="nofollow">Django ecosystem</a> by releasing high quality open source apps. Find about them on <a href="http://github.com/agiliq">Github</a>.
    </p>

    <p>
        We have built Saas apps, custom CMSes and other high traffic websites. We have built payment systems and APIs - both as a consumer and as an API provider. Django and Python have always proved the best tools and we are proud to recommend them to our clients.
    </p>

	<span class="smallbrowntitle">Postgres and MySql</span>
        <p>
	       Postgres is a mature open source database. It is highly standard compliant, supports advanced database features and available for all platforms.
	   </p>
       <p>
            <a href="http://agiliq.com/blog/tag/mysql/">MySql</a> is one of most popular databases and powers some of the largest sites. It is backed by Oracle.
        </p>
        <p>We use either Postgres or Mysql depending on the requirements. We also use non-relational no-sql solutions such as Redis or MongoDB, depending on the requirements.
        </p>
        <span class="smallbrowntitle">Phonegap, Java and Objective-C</span>
        <p>
            Building amazing apps require use of many heterogenous technologies. For some apps, HTML5 might be a good idea. Others require Java or a hybrid approach.
        </p>
        <p>
            Our clients expect us to build apps which delight the users, and we
            use diverse techologies to build this. We have built apps for both <a href="http://agiliq.com/blog/tag/android/">Android</a> and <a href="http://agiliq.com/blog/tag/iphone/">iOS</a>.
        </p>
        <span class="smallbrowntitle">jQuery, Sencha Touch, Cofeescript and more</span>
        <p>
            <a href="http://agiliq.com/blog/tag/javascript/">Javascript</a> is the language which binds the web. Whether you want your web app to be snazzy or your HTML5 mobile app to interact with the device you will need Javascript.
        </p>
        <p>
            We use modern tools for Javascript development including jQuery, Coffeescript, Backbone.js, Sencha Touch and more.
        </p>


</div>



{% endblock %}

