{% extends "agiliqpages/base.html" %}
{% load thumbnail %}
{% block  title %}
	{{ block.super }} | About us.
{% endblock %}


{% block content %}
<div id="pagecontent">
	<span class="greentitle">Who we are</span>
	<p>We are a small, intelligent App development studio with good ideas and lots of experience. We love "Building Amazing Apps", but what really drives us is solving problems and cultivating strong relationships with our clients.</p>

{% for profile in object_list %}
	<div class="profile" itemscope itemtype="http://schema.org/Person">
		<div class="left">
			{% if profile.photo %}
				{% thumbnail profile.photo "130x129" quality=99 as im %}
					<img src="{{ im.url}}" alt="{{ profile.name }}" itemprop="photo" />
				{% endthumbnail %}
			{% endif %}
		</div>
		<div class="right">
			<h3><span itemprop="name">{{ profile.name }}</span></h3>
			<span class="designation" itemprop="title">{{ profile.designation }}</span>
			<p class="profilecontent" itemprop="desc">{{ profile.bio|safe }}</p>
		</div>
		<div class="clear"></div>
	</div>
{% endfor %}

</div>

{% endblock %}

