{% extends "agiliqpages/base.html" %}

{% block  title %}
	{{ block.super }} | ABOUT US
{% endblock %}

{% block extracss %}
	<link href="{{ MEDIA_URL }}css/whoweare.css" rel="stylesheet" type="text/css" charset="utf-8">
{% endblock %}

{% block body_ns %}whoweare{% endblock %}

{% block banner %}
<div id="title">
	<h1>Agile <span class="black">web development </span><br/>
		using <span class="black">django</span> framework</h1>
</div>
<div id="homegraphic"></div>
{% endblock %}

{% block content %}
<div id="pagecontent">
	<span class="greentitle">Who we are</span>
	<p>We are a small, intelligent web development studio with good ideas and lots of experience. We love designing and developing websites, but what really drives us is solving problems and cultivating strong relationships with our clients</p>

{% for profile in object_list %}
	<div class="profile">
		<div class="left">
			{% if profile.photo %}
				<img src="{{ profile.photo.url }}" width="130" height="129" alt="{{ profile.name }}">
			{% endif %}
		</div>
		<div class="right">
			<h3>{{ profile.name }}</h3>
			<span class="designation">{{ profile.designation }}</span>
			<p class="profilecontent">{{ profile.bio|safe }}</p>
		</div>
		<div class="clear"></div>
	</div>
{% endfor %}

</div>

{% endblock %}

