[submodule "agiliqcom/blogango_repo"]
	path = agiliqcom/blogango_repo
	url = git@github.com:agiliq/django-blogango.git
[submodule "agiliqcom/socialauth_repo"]
	path = agiliqcom/socialauth_repo
	url = git@github.com:agiliq/Django-Socialauth.git
[submodule "agiliqcom/dinette_repo"]
	path = agiliqcom/dinette_repo
	url = git@github.com:agiliq/Dinette.git
