[submodule "agiliqcom/blogango_repo"]
	path = agiliqcom/blogango_repo
	url = git@github.com:agiliq/django-blogango.git
[submodule "agiliqcom/socialauth_repo"]
	path = agiliqcom/socialauth_repo
	url = git@github.com:agiliq/Django-Socialauth.git
[submodule "agiliqcom/dinette_repo"]
	path = agiliqcom/dinette_repo
	url = git@github.com:agiliq/Dinette.git
[submodule "agiliqcom/analytics_repo"]
	path = agiliqcom/analytics_repo
	url = http://github.com/montylounge/django-google-analytics.git
[submodule "agiliqcom/django-buzz_repo"]
	path = agiliqcom/django-buzz_repo
	url = http://github.com/agiliq/django-buzz.git
