Django==1.8
-e git+https://github.com/agiliq/django-blogango.git@0cc3caff5892460b7ecee029d54956441eaf5a8b#egg=blogango
psycopg2==2.5.3
raven==3.5.2
boto==2.8.0
Pillow==2.4.0
python-memcached==1.53
redis==2.7.4
git+https://github.com/pinax/django-mailer.git
-r requirements/demo_apps.txt
-r requirements/merchant.txt
-r requirements/graphos.txt
-r requirements/blogango.txt
-r requirements/leave_tracker.txt
-r requirements/dev.txt
django-parsley==0.5
BeautifulSoup==3.2.1
FormEncode==1.2.6
Jinja2==2.7.2
argparse==1.2.1
dj-database-url==0.3.0
django-appconf==0.6
django-compressor==1.3
django-crispy-forms==1.2.5
django-markupfield==1.1.1
django-pagination==1.0.7
django-toolbelt==0.0.1
logilab-common==0.61.0
lxml==3.3.1
requests==1.2.0
six==1.6.1
sorl-thumbnail==11.12.1b
termcolor==1.1.0
wsgiref==0.1.2
akismet==0.2.0
newrelic==2.20.0.17
django-heroku-memcacheify==0.5
pylibmc==1.2.3
django-clear-cache==0.3
django-storages==1.1.8
