Django==1.5
django-markupfield
feedparser
markdown
django-compressor
django-blogango==0.6
django-buzz
MySQL-python
docutils
django-taggit==0.9.3
django-wysiwyg
django-pagination
sorl-thumbnail
django-xmlrpc==0.1.3
django-pingback
BeautifulSoup
python-memcached
Pillow
coverage
django-coverage
django-jenkins
south
git+https://github.com/agiliq/Django-Socialauth.git@master#egg=django_socialauth-dev
git+https://github.com/pinax/django-mailer.git@master#egg=django-mailer
git+https://github.com/agiliq/Dinette@master#egg=dinette
gunicorn
raven
python-openid>=2.0.0
oauth>=1.0.0
facebook-sdk
hg+https://pylinkedin.googlecode.com/hg/pylinkedin>=0.1
