django
django-markupfield
feedparser
markdown
django-mailer
django-compressor
django-blogango
django-socialauth==0.1.2c
dinette
django-buzz
MySQL-python
docutils
django-taggit
django-wysiwyg
django-pagination
sorl-thumbnail
django-xmlrpc
django-pingback
BeautifulSoup
Pillow
