Django==1.5
django-markupfield
feedparser
markdown
django-mailer
django-compressor
django-blogango==0.6
dinette==1.4e
django-buzz
MySQL-python
docutils
django-taggit==0.9.3
django-wysiwyg
django-pagination
sorl-thumbnail
django-xmlrpc==0.1.3
django-pingback
BeautifulSoup
python-memcached
Pillow
coverage
django-coverage
django-jenkins
south
-e git+https://github.com/agiliq/Django-Socialauth.git@5770480f26430f98ea95c1fdae74f0e37eceb3ad#egg=django_socialauth-dev
gunicorn
raven
