{% extends 'agiliqpages/base.html' %}

{% block  title %}
    {{ block.super }} | error
{% endblock %}

{% block banner %}
     <div id="title">
<h2>Some thing bad happened.</h2>
<span="black" > <strong>That's ok, our Engineers have been notified about it. By the time, you can continue browsing through <a href ="http://www.agiliq.com">agiliq</a>. Sorry for  the inconvenience.</strong> </span> 
    </div>
    <div id=""></div>
{% endblock %}


{% block content %}

{% endblock %} 

{% block right_panel %}
{% endblock right_panel %}

{% block testimonials %}
{% endblock %}
