{% extends 'blogango/blog_agiliq.html' %}

{% block posts%}

<!--BLOG POST STARTS-->
{% for entry in entries %}
    {% include 'blogango/entry_snippets.html' %}
{% empty %}
    <div class="leftblock"> 
        <h1>No posts in blog</h1> 
        <div class="postcontent">
            <p>
              <br/>You don't have any entries in your blog, 
              you can post to your blog from site admin.
            </p>
        </div>
    </div>
{% endfor %}  
<!--BLOG POST ENDS-->
<div class="clear"></div>
{% endblock posts%}

{% block pagination %}
{% if has_next or has_prev %}

<div class="pagination">
	{% if has_next %}
		<a href='{% url blogango_page page_.next_page_number %}'>&laquo; Previous Entries</a>
	{% endif %}
	
	{% if has_prev %}
		<span class='right'><a href='{% url blogango_page page_.previous_page_number %}'>Next Entries &raquo;</a></span>
	{% endif %}
	<div class="clear"></div>
</div> 

{% endif %}
{% endblock pagination %}
