@charset "utf-8";
/* CSS Document
---------------------------------------------------*/

.jcarousel-skin-tango .jcarousel-container { background: #FFFFFF;}
.jcarousel-skin-tango .jcarousel-container-horizontal { width: 540px; padding: 20px 30px;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { width: 520px;}
.jcarousel-skin-tango .jcarousel-item { width: 500px; }
.jcarousel-skin-tango .jcarousel-item-horizontal { margin: 0px 20px 0px 20px;}
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000;}

/** Horizontal Buttons
---------------------------------------------------*/
.jcarousel-skin-tango .jcarousel-next-horizontal {  position: absolute; top: 43px; right: 5px; width: 32px; height: 32px;cursor: pointer; background: url(../images/jcarousel_next.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover { background-position: -32px 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active { background-position: -64px 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: -96px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal { position: absolute;top: 43px;left: 5px;width: 32px;height: 32px;cursor: pointer;background: url(../images/jcarousel_prev.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {background-position: -32px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {background-position: -64px 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default;background-position: -96px 0;}

.jcarousel-skin-banner .jcarousel-container {background: #01C0B9;}
.jcarousel-skin-banner .jcarousel-container-horizontal { width: 540px; padding: 20px 30px;}
.jcarousel-skin-banner .jcarousel-clip-horizontal { width: 520px;}
.jcarousel-skin-banner .jcarousel-item { width: 500px; }
.jcarousel-skin-banner .jcarousel-item-horizontal { margin: 0px 20px 0px 20px;}
.jcarousel-skin-banner .jcarousel-item-placeholder { background: #fff; color: #000;}

/** Horizontal Buttons
---------------------------------------------------*/
.jcarousel-skin-banner .jcarousel-next-horizontal {  position: absolute; top: 43px; right: 5px; width: 32px; height: 32px;cursor: pointer; background: url(../images/jcarousel_next.png) no-repeat 0 0;}
.jcarousel-skin-banner .jcarousel-next-horizontal:hover { background-position: -32px 0;}
.jcarousel-skin-banner .jcarousel-next-horizontal:active { background-position: -64px 0;}
.jcarousel-skin-banner .jcarousel-next-disabled-horizontal,
.jcarousel-skin-banner .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-banner .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: -96px 0;}
.jcarousel-skin-banner .jcarousel-prev-horizontal { position: absolute;top: 43px;left: 5px;width: 32px;height: 32px;cursor: pointer;background: url(../images/jcarousel_prev.png) no-repeat 0 0;}
.jcarousel-skin-banner .jcarousel-prev-horizontal:hover {background-position: -32px 0;}
.jcarousel-skin-banner .jcarousel-prev-horizontal:active {background-position: -64px 0;}
.jcarousel-skin-banner .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-banner .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-banner .jcarousel-prev-disabled-horizontal:active { cursor: default;background-position: -96px 0;}
