/* Hand cursor over navigation elements */
.unoslider_navigation {
  cursor: pointer;
}

/* container which contains navigation and indicator */
.unoslider_navigation_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Tooltip panel */
.unoslider_caption {
  position: absolute;
  right: 70%;
  bottom: 4.5%;
  left: 2%;
  padding: 10px;
  width: auto;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: #fafafa;
  font-size: 12px;
  text-align: left;
}
.unoslider strong{
    color: #fff;
}
.unoslider_caption h1,
.unoslider_caption h2,
.unoslider_caption h3,
.unoslider_caption h4,
.unoslider_caption h5,
.unoslider_caption h6{
  color: #fff;
  margin-bottom: 9px;   
}
.unoslider_caption h3{
  line-height: 24px;
}
.unoslider_caption p{
    margin-bottom: 9px;
}
/* play, pause, previous and next elements */
.unoslider_pause, .unoslider_play, .unoslider_left, .unoslider_right {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.unoslider_pause:hover, .unoslider_play:hover, .unoslider_left:hover, .unoslider_right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* play and pause elements */
.unoslider_pause, .unoslider_play {
  height: 46px;
  width: 46px;
  margin-top: -23px;
  margin-left: -23px;
  top: 50%;
  left: 50%;
    background: url(../../../images/unoslider_play_pause.png) no-repeat;
}

/* previous and next elements */
.unoslider_left, .unoslider_right {
  width: 40px;
  height: 100%;
}

/* previous */
.unoslider_left {
    display: none;
}

/* next */
.unoslider_right {
    display: none;
}

/* pause */
.unoslider_pause {
  background-position: 0 0;
}

/* play */
.unoslider_play {
  background-position: -45px 0;
}

/* bullet indicator */
.unoslider_indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  text-align: right;
}
.unoslider_indicator a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: visible;
  cursor: pointer;
    width: 19px;
    height: 19px;
    margin-right:1px;
    /*background: url(../../../images/elements.png) no-repeat; styles - in theme assets/css/skin*/
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	opacity:0.9;  
}
.unoslider_indicator a {
  *display: inline;
}
.unoslider_indicator a.unoslider_indicator_active{
	background-position: -19px 0;  
}
.unoslider_indicator a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        .unoslider_caption{
            display: none !important;
        }
	}