<!doctype html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/site_media/pystories/css/widget.css">
    <link rel="alternate"  type="application/rss+xml" title="Django popular stories feed" href="http://feeds2.feedburner.com/uswaretech-django-popular-stories">
    <title>Trending stories for {{ topic }}</title>
</head>

<body>

{% block content %}{% endblock %}

<div id="footer">
</div>



<script type="text/javascript" src="/site_media/pystories/scripts/jquery13.js"></script>
<script type="text/javascript" src="/site_media/pystories/scripts/dolscript.js"></script>
</body>