{% extends "pystories/base.html" %}

{% block content %}

<div id="content">
<div id="leftbox">

    <iframe src ="{% url pystories_widget topic.slug %}"    id="doloto_iframe"   frameborder=0  border=0  width="250px" height="650px"
         style = "padding-top : 5px">
    </iframe>

</div>


<div id="rightbox">

            <div id="middlebox">
             <p>Use the following code to embed the widget*: <br/>
                 <textarea id="widgetcode" cols="45" rows="6">
                    <iframe src ="{{site_url}}{% url pystories_widget topic.slug %}"   id="doloto_iframe"  width="250px" height="525px"  frameborder=0  border=0    style = "padding-top : 5px"> </iframe>
                 </textarea>
               </p>
            <span class="verysmall">  * Please modify the width and height of the iframe suitable to your needs.</span>
            </div>

            <div id="uswarebox">
                By crunching social media (Google Reader) we bring the top stories in Django , to this embeddable widget. It is constantly updated! <a href="http://agiliq.com/blog/2009/02/django-popular-stories-widget/">More details on our blog</a>.
                 <br/>
             </div>

            <div id="lastbox">
            <p> Would you like to see such popular stories on more topics? </p>
             <p id="feedbackbox">
                <INPUT type="radio" name="feedback" value="Yes" class="fbutton">Yes</input> &nbsp; &nbsp;
                <INPUT type="radio" name="feedback" value="No" class="fbutton">No </input>
             </p>
            </div>


            <div id="footer">
              Built by <a href="http://{{ site.domain }}">{{ site.name }}</a>
            </div>

</div>

<div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-367368-15']);
  _gaq.push(['_trackPageview']);
 _gaq.push(['_setCustomVar',1, 'Section', 'pystories', 3 ]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% include "social.html" %}

{% endblock %}





