body{
    background: url(../../images/bg2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: repeat;
}
