.medium_button.style1,
.small_button.style1,
.large_button.style1{
    border: 1px solid #c2101e;
	background: #db1222;
	background: -moz-linear-gradient(top,  #db1222 0%, #c2101e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db1222), color-stop(100%,#c2101e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db1222 0%,#c2101e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db1222 0%,#c2101e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db1222 0%,#c2101e 100%); /* IE10+ */
	background: linear-gradient(top,  #db1222 0%,#c2101e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db1222', endColorstr='#c2101e',GradientType=0 ); /* IE6-9 */
    text-shadow: #700912 0 1px 0; 
}
.medium_button.style1:hover,
.small_button.style1:hover,
.large_button.style1:hover {
	background: #eb1325;
	background: -moz-linear-gradient(top,  #eb1325 0%, #cc1020 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb1325), color-stop(100%,#cc1020)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb1325 0%,#cc1020 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb1325 0%,#cc1020 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb1325 0%,#cc1020 100%); /* IE10+ */
	background: linear-gradient(top,  #eb1325 0%,#cc1020 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb1325', endColorstr='#cc1020',GradientType=0 ); /* IE6-9 */
}
.medium_button.style2,
.small_button.style2,
.large_button.style2{
    border: 1px solid #c2ad91;
	background: #dbc4a4;
	background: -moz-linear-gradient(top,  #dbc4a4 0%, #c2ad91 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbc4a4), color-stop(100%,#c2ad91)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbc4a4 0%,#c2ad91 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbc4a4 0%,#c2ad91 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbc4a4 0%,#c2ad91 100%); /* IE10+ */
	background: linear-gradient(top,  #dbc4a4 0%,#c2ad91 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbc4a4', endColorstr='#c2ad91',GradientType=0 ); /* IE6-9 */
    text-shadow: #706454 0 1px 0; 
}
.medium_button.style2:hover,
.small_button.style2:hover,
.large_button.style2:hover {
	background: #ebd1b0;
	background: -moz-linear-gradient(top,  #ebd1b0 0%, #ccb699 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebd1b0), color-stop(100%,#ccb699)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebd1b0 0%,#ccb699 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebd1b0 0%,#ccb699 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebd1b0 0%,#ccb699 100%); /* IE10+ */
	background: linear-gradient(top,  #ebd1b0 0%,#ccb699 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd1b0', endColorstr='#ccb699',GradientType=0 ); /* IE6-9 */
}
.medium_button.style3,
.small_button.style3,
.large_button.style3{
    border: 1px solid #7c98c2;
	background: #8cacdb;
	background: -moz-linear-gradient(top,  #8cacdb 0%, #7c98c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cacdb), color-stop(100%,#7c98c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8cacdb 0%,#7c98c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8cacdb 0%,#7c98c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8cacdb 0%,#7c98c2 100%); /* IE10+ */
	background: linear-gradient(top,  #8cacdb 0%,#7c98c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cacdb', endColorstr='#7c98c2',GradientType=0 ); /* IE6-9 */
    text-shadow: #485870 0 1px 0; 
}
.medium_button.style3:hover,
.small_button.style3:hover,
.large_button.style3:hover {
	background: #96b8eb;
	background: -moz-linear-gradient(top,  #96b8eb 0%, #83a0cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b8eb), color-stop(100%,#83a0cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #96b8eb 0%,#83a0cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #96b8eb 0%,#83a0cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #96b8eb 0%,#83a0cc 100%); /* IE10+ */
	background: linear-gradient(top,  #96b8eb 0%,#83a0cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b8eb', endColorstr='#83a0cc',GradientType=0 ); /* IE6-9 */
}
.medium_button.style4,
.small_button.style4,
.large_button.style4{
    border: 1px solid #c28744;
	background: #db994d;
	background: -moz-linear-gradient(top,  #db994d 0%, #c28744 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db994d), color-stop(100%,#c28744)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db994d 0%,#c28744 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db994d 0%,#c28744 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db994d 0%,#c28744 100%); /* IE10+ */
	background: linear-gradient(top,  #db994d 0%,#c28744 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db994d', endColorstr='#c28744',GradientType=0 ); /* IE6-9 */
    text-shadow: #704e27 0 1px 0; 
}
.medium_button.style4:hover,
.small_button.style4:hover,
.large_button.style4:hover {
	background: #eba352;
	background: -moz-linear-gradient(top,  #eba352 0%, #cc8e47 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eba352), color-stop(100%,#cc8e47)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eba352 0%,#cc8e47 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eba352 0%,#cc8e47 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eba352 0%,#cc8e47 100%); /* IE10+ */
	background: linear-gradient(top,  #eba352 0%,#cc8e47 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba352', endColorstr='#cc8e47',GradientType=0 ); /* IE6-9 */
}
.medium_button.style5,
.small_button.style5,
.large_button.style5{
    border: 1px solid #c25b3e;
	background: #db6646;
	background: -moz-linear-gradient(top,  #db6646 0%, #c25b3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db6646), color-stop(100%,#c25b3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #db6646 0%,#c25b3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #db6646 0%,#c25b3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #db6646 0%,#c25b3e 100%); /* IE10+ */
	background: linear-gradient(top,  #db6646 0%,#c25b3e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6646', endColorstr='#c25b3e',GradientType=0 ); /* IE6-9 */
    text-shadow: #703424 0 1px 0; 
}
.medium_button.style5:hover,
.small_button.style5:hover,
.large_button.style5:hover {
	background: #eb6e4b;
	background: -moz-linear-gradient(top,  #eb6e4b 0%, #cc5f41 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb6e4b), color-stop(100%,#cc5f41)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb6e4b 0%,#cc5f41 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb6e4b 0%,#cc5f41 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb6e4b 0%,#cc5f41 100%); /* IE10+ */
	background: linear-gradient(top,  #eb6e4b 0%,#cc5f41 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb6e4b', endColorstr='#cc5f41',GradientType=0 ); /* IE6-9 */
}
.theme_table .medium_button,
.theme_table .small_button,
.theme_table .large_button{
    border: 1px solid #959595;
	background: #acacac;
	background: -moz-linear-gradient(top,  #acacac 0%, #959595 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acacac), color-stop(100%,#959595)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #acacac 0%,#959595 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #acacac 0%,#959595 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #acacac 0%,#959595 100%); /* IE10+ */
	background: linear-gradient(top,  #acacac 0%,#959595 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#959595',GradientType=0 ); /* IE6-9 */
    text-shadow: #555555 0 1px 0; 
}
.theme_table .medium_button:hover,
.theme_table .small_button:hover,
.theme_table .large_button:hover {
	background: #b7b7b7;
	background: -moz-linear-gradient(top,  #b7b7b7 0%, #a1a1a1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#a1a1a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7b7b7 0%,#a1a1a1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7b7b7 0%,#a1a1a1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7b7b7 0%,#a1a1a1 100%); /* IE10+ */
	background: linear-gradient(top,  #b7b7b7 0%,#a1a1a1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#a1a1a1',GradientType=0 ); /* IE6-9 */
}
.theme_table .free .medium_button,
.theme_table .free .small_button,
.theme_table .free .large_button{
    border: 1px solid #53ab46;
	background: #5ab84b;
	background: -moz-linear-gradient(top,  #5ab84b 0%, #53ab46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ab84b), color-stop(100%,#53ab46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5ab84b 0%,#53ab46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5ab84b 0%,#53ab46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5ab84b 0%,#53ab46 100%); /* IE10+ */
	background: linear-gradient(top,  #5ab84b 0%,#53ab46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab84b', endColorstr='#53ab46',GradientType=0 ); /* IE6-9 */
    text-shadow: #37702e 0 1px 0; 
}
.theme_table .free .medium_button:hover,
.theme_table .free .small_button:hover,
.theme_table .free .large_button:hover {
	background: #69d658;
	background: -moz-linear-gradient(top,  #69d658 0%, #5ab84b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69d658), color-stop(100%,#5ab84b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69d658 0%,#5ab84b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69d658 0%,#5ab84b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69d658 0%,#5ab84b 100%); /* IE10+ */
	background: linear-gradient(top,  #69d658 0%,#5ab84b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d658', endColorstr='#5ab84b',GradientType=0 ); /* IE6-9 */
}