<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>AGILIQ SOLUTIONS - Blog</title> 
<link href="{{ MEDIA_URL }}blogango/css/agiliqblog.css" rel="stylesheet" type="text/css" /> 
<link href="css/prettify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="js/prettify.js"></script> 
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'> 
</head> 
<body> 


<div id="container"> 
  <div id="header"><a href="index.html"><img src="images/agiliq_logo.png" width="264" height="31" alt="Agiliq Solutions" /></a></div> 
  <!--LEFT PANEL STARTS--> 
  <div id="leftpanel"> 
    <!--BLOG POST STARTS--> 
    <div class="leftblock"> 
      <h1>Great Indian Developer Summit 2010</h1> 
      <div class="filed">Filed in : <a href="#">Django Forms</a></div> 
      <div class="postdetails"><img src="images/blog.png" width="16" height="16" alt="Writter by" /> <a href="#"> Lakshman</a> &nbsp;&nbsp;&nbsp;<img src="images/date_icon.png" width="16" height="16" alt="Date" />&nbsp;26th May,2010.</div> 
      <div class="postcontent"> 
        <p>Great Indian Developer Summit, is the India’s largest developer conference, held at Bangalore, India; in its third edition this year. The conference concluded last Friday. The summit had about a 1000 visitors on the first day and a comparable number on the other days.
          
          The conference basically caters to the enterprises, and hence their focus on the .Net, Java and Flash. There were many star speakers. </p> 
      </div> 
      <div class="moreinfo"><a href="index_post.html">more info...</a></div> 
    </div> 
  </div> 
  <!--RIGHT PANEL STARTS--> 
  <!--RIGHT PANEL STARTS--> 




  <div id="rightpanel"> 
    <!--POSTS PANEL STARTS--> 
    <div class="rightblock"> 
      <h1>BLOGPOSTS</h1> 
      <ul> 
        <li><a href="#">Great Indian Developer Summit 2010</a></li> 
        <li><a href="#">CSS Frameworks</a></li> 
        <li><a href="#">Rails and Django commands</a></li> 
        <li><a href="#">The Rails and Django models</a></li> 
        <li><a href="#">Great Indian Developer Summit 2010</a></li> 
        <li><a href="#">CSS Frameworks</a></li> 
        <li><a href="#">Rails and Django commands</a></li> 
        <li><a href="#">The Rails and Django models</a></li> 
      </ul> 
    </div> 
    <!--POSTS PANEL ENDS--> 
    <!--FRIENDS PANEL STARTS--> 
    <div class="rightblock_divided"> 
      <div class="left"> 
        <h1 class="orange">FRIENDS</h1> 
        <ul> 
          <li><a href="#">Additional View</a></li> 
          <li><a href="#">Illusion Factory</a></li> 
          <li><a href="#">Zipzap</a></li> 
          <li><a href="#">Cubedroute</a></li> 
        </ul> 
      </div> 
      <div class="right"> 
        <h1 class="orange">PARTNERS</h1> 
        <ul> 
          <li><a href="#">Additional View</a></li> 
          <li><a href="#">Illusion Factory</a></li> 
          <li><a href="#">Zipzap</a></li> 
          <li><a href="#">Cubedroute</a></li> 
        </ul> 
      </div> 
      <div class="clear"></div> 
    </div> 
    <!--FRIENDS PANEL ENDS--> 
    <!--CATEGORIES PANEL STARTS--> 
    <div class="rightblock"> 
      <h1 class="brown">CATEGORIES</h1> 
      <ul> 
        <li><a href="#">Python</a></li> 
        <li><a href="#">Django</a></li> 
        <li><a href="#">UI Design</a></li> 
        <li><a href="#">JQuery</a></li> 
      </ul> 
    </div> 
    <!--CATEGORIES PANEL ENDS--> 
  </div> 
  <!--RIGHT PANEL ENDS--> 
  <div class="clear"></div> 
  <div class="footer"> 2010 Agiliq Solutions. All Rights Reserved</div> 
</div> 

</body> 
</html> 